@import "tailwindcss";

@theme {
  --color-main-blue: #3612c7;
  --color-secondary-color: #f5f5f5;
  --color-secondary-gray: #f5f5f5;
  --font-poppins: var(--font-poppins);
  --font-tilt-wrap: var(--font-tilt-wrap);
}

@layer components {
  .hover-text {
    @apply hover:text-gray-400 transition-all cursor-pointer;
  }

  .footer-links .hover-text:hover {
    @apply text-white;
  }

  .garis {
    @apply absolute bottom-3 left-1/2 h-[2px] w-0 bg-main-blue transition-all duration-320 group-hover:left-0 group-hover:w-full;
  }

  .autoMid {
    @apply max-w-[80rem] mx-auto px-[20px];
  }

  .input-form {
    @apply w-full px-4 py-3 rounded-lg bg-gray-50 border border-gray-200 focus:outline-none focus:ring-2 focus:ring-main-blue/50 text-black;
  }
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}
